################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net6.0
/obj
/TrisReconstruction.Tests/.vs
/TrisReconstruction.Tests/bin
/TrisReconstruction.Tests/obj
/.vs
